.navbarHeader {
  justify-content: space-between;
}
.movieListCont {
  justify-content: center;
}
body {
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container-detail > img {
  display: block;
  max-width: 600px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

img {
  display: block;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.errorCont {
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  margin: 3em 0em;
}

.descriptionCont {
  text-align: center;
}

.searchCont {
  display: flex;
  justify-content: center;
}
.loaderCont {
  text-align: center;
  margin: 2em 0em;
}